# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# venv
.venv/

# Coverage
htmlcov/
.coverage
coverage.xml

# OS / Editor
.DS_Store
Thumbs.db
.vscode/

# Cosmic Ray session (istersen repo'ya koyma)
cosmic_ray.sqlite

# Reports
mutation_report.html
